@import "../../blocks/aside/";
@import "../../blocks/slider/";
@import "../../blocks/card/";

.breadcrumbs {
  span {
    color: rgba($color-secondary, 0.5);

    &.active {
      color: $color-secondary;

      cursor: auto;
    }

    @extend %hover;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  gap: min(3.5vw, 60px);

  padding-bottom: 30px;

  &__container {
    display: flex;
    gap: 10px;

    flex-direction: column;
  }

  &__sort {
    display: flex;
    gap: 10px;

    font-size: 16px;
    color: rgba($color-secondary, 0.5);

    &-title {
      white-space: nowrap;
    }

    &-item {
      @extend %hover;
    }

    .active {
      color: #61b88f;
    }
  }

  &__sorts {
    display: flex;
    flex-wrap: wrap;

    white-space: nowrap;
    column-gap: 16px;
    row-gap: 5px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: min(35px, 1.5vw);

    @media (max-width: $desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.not-found {
  position: relative;
  top: 100px;
  left: 12vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40vw;
  height: 34vh;
  margin: 0 auto;

  background-image: url("assets/images/error.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__message {
    opacity: 0.7;
  }
}
