input[type="range"]::-webkit-slider-thumb {
  width: 24px;
  height: 24px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;

  pointer-events: all;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;

  pointer-events: all;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  width: 50px;
  height: 30px;

  font-size: 20px;
  color: #8a8383;

  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #c6c6c6;

  pointer-events: none;
  appearance: none;
}

#fromSlider {
  z-index: 35;

  height: 0;
}

.slider {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    label {
      font-size: 16px;
    }

    @extend %card;
  }

  &__ranges {
    position: relative;

    min-height: 50px;
  }

  &__nums {
    position: relative;

    display: flex;
    justify-content: space-between;

    font-size: 24px;
    color: #635a5a;
  }
}

#price-from {
  z-index: 35;

  height: 0;
}
